@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --Cor1: #7200FD;
  --Cor2: #6E00F4;
  --Cor3: #5E00D2;
  --Cor4: #4F00B0;
  --Cor5: #321358;
}

body {
  display: flex;
  flex-flow: column wrap;
  background: #060606;
  padding: 20px;
}

main {
  display: flex;
  flex-flow: column wrap;
  height: 1000px;
  flex-flow: column wrap;
  align-items: center;
  gap: 50px 0px;
  align-items: center;
}

main h1 {
  color: var(--Cor1);
  text-shadow: 0 0 50px var(--Cor3);
}

.home-container {
  display: flex;
  gap: 30px 0px;
  flex-flow: column wrap;
}

.greetings-container {
  display: flex;
  gap: 20px 0px;
  flex-flow: column wrap;
}

.greetings-container h2 {
  color: #fff;
  font-size: 20px;
  text-align: center;
}

.greetings-container p {
  color: #fff;
  font-size: 15px;
  text-align: justify;
  font-weight: 600;
}

.example-conatiner {
  display: flex;
  gap: 25px 0px;
  flex-flow: column wrap;
  align-items: center;
}

.example-conatiner h3 {
  color: #fff;
  text-align: center;
}

.infomation-container {
  display:flex;
  flex-flow: column wrap;
  gap: 40px 0px
}

.infomation-container h3 {
  color: #fff;
  text-align: center;
}

.infomation-container a {
  color: var(--Cor3);
  text-decoration: none;
  font-size: 20px;
  text-align: center;
  font-weight: 700;
  transition: 1s;
}

.infomation-container a:hover {
  color: var(--Cor4);
  transform: scale(1.1);
  transition: 0.5s;
  font-weight: 800;
}

.tutorial-conatiner {
  display: flex;
  flex-flow: column wrap;
  gap: 30px 0px;
}

.tutorial-conatiner h1 {
  color: var(--Cor1);
  text-align: center;
}

video, iframe {
  width: 380px;
  border-radius: 10px;
  box-shadow: 0px 0px 50px #4F00B0BF;
}

footer {
  padding: 20px 10px;
}

footer h3 {
  color: var(--Cor1);
  text-align: center;
}

footer a {
  color: var(--Cor1);
  text-align: center;
  text-decoration: none;
}

footer a:hover {
  color: var(--Cor3);
  text-align: center;
  text-decoration: none;
}
